@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model solutionApp.Models.ReclamationDetail
@{
}
<link rel="stylesheet" href="~/css/reclamationtechitem.css" />
<div class="container-fluid w-100">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 d-flex flex-wrap  justify-content-between align-items-center px-0">
            <h3 class="my-4">Reclamation</h3>
            @if (Model.isOwner && Model.canEdit)
            {
                <div class=" d-flex flex-nowrap">
                    <a asp-controller="Reclamation" asp-action="AddReclamation" class="btn btn-success px-4 d-flex align-items-center me-3"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a asp-controller="Reclamation" asp-action="DeleteReclamation" asp-route-id="@Model.reclamation.Id" class="btn btn-outline-danger px-4 d-flex align-items-center"><i class="bi bi-trash"></i> Delete</a>
                </div>

            }
            @if (Model.canTake)
            {
                <a asp-controller="Reclamation" asp-action="TakeReclamation" asp-route-id="@Model.reclamation.Id" class="btn btn-success px-4 d-flex align-items-center "><i class="bi bi-pencil-square me-2"></i>Resolve this</a>
            }
            @if (Model.canAddSolution)
            {
                <div class=" d-flex flex-nowrap">
                    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#myModal">Add Solution</button>
                    <a asp-controller="Solution" asp-action="NoSolution" asp-route-id="@Model.reclamation.Id" class="btn btn-outline-danger px-4 d-flex align-items-center"><i class="bi bi-x"></i> No Solution</a>
                </div>
            }

        </div>
        <div class="reclamation col-12 col-lg-8 d-flex flex-wrap py-3 px-2 mb-3">
            <div class="col-12 col-md-8 d-flex flex-nowrap p-0 mb-4 mb-md-0">
                <div class="user-info mb-0">
                    <img class="rounded-circle img-cover reclamation-avatar" src="@Model.reclamation.User.Img" height="70" width="70" />
                </div>
                <div class="desciption ms-2 ps-2 border-left">
                    <h3 class="username text-secondary">@Model.reclamation.User.UserName</h3>
                    <p class="tile text-gray">@Html.Raw(@Model.reclamation.Title.Replace("\n", "<br>")) </p>
                    <p class="text-gray">@Html.Raw(@Model.reclamation.Description.Replace("\n", "<br>")) </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex flex-nowrap justify-content-between">
                    <span class="created-at text-gray">Creation Date</span>
                    <span class="date ms-3 text-green text-end ">@Model.reclamation.CreatedAt</span>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-2 ">
                    <span class="text-gray">Status</span>
                    <span class="@Model.reclamation.Status">@Model.reclamation.Status</span>
                </div>
            </div>
        </div>
        <div class="solutions col-12 col-lg-8 mb-5 px-0">
            <h3 class="my-4">Solutions</h3>
            @foreach (var solution in Model.reclamation.Solutions)
            {
                <div class="solution reclamation row px-2 py-3 mb-3">
                    <div class="col-12 col-md-8 d-flex flex-nowrap p-0 mb-4 mb-md-0">
                        <div class="user-info mb-0">
                            <img class="rounded-circle img-cover reclamation-avatar" src="@Model.reclamation.User.Img" height="70" width="70" />
                        </div>
                        <div class="desciption ms-2 ps-2 border-left">
                            <h3 class="username text-secondary">@Model.reclamation.TechUser.UserName</h3>
                            <p class="tile text-gray">@Html.Raw(@solution.Title.Replace("\n", "<br>")) </p>
                            <p class="text-gray">@Html.Raw(@solution.Description.Replace("\n", "<br>")) </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="d-flex flex-nowrap justify-content-between">
                            <span class="created-at text-gray">Creation Date</span>
                            <span class="date ms-3 text-green text-end ">@solution.CreatedAt</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-2 ">
                            <span class="text-gray">Status</span>
                            <span class="@solution.status">@solution.status</span>
                        </div>
                        @if(solution.status==solutionApp.Data.Entities.SolutionStatus.NotSeen & Model.isOwner)
                        {
                              <div class="d-flex align-items-center justify-content-between mt-2">
                                <a asp-controller="Solution" asp-action="SolutionWorking" asp-route-id="@solution.Id" class="btn btn-sm btn-success px-4 d-flex align-items-center me-3"><i class="bi bi-pencil-square"></i>Working</a>
                                <a asp-controller="Solution" asp-action="SolutionNotWorking" asp-route-id="@solution.Id" class="btn btn-sm btn-danger px-4 d-flex align-items-center"><i class="bi bi-pencil-square"></i> Not Working</a>
                                
                             </div>
                        }
                      
                    </div>
                </div>
            }
        </div>



    </div>
</div>
@if (Model.canAddSolution)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form asp-controller="Solution" asp-action="AddSolution" method="Post" asp-route-id="@Model.reclamation.Id" class="reclamation-form">
                            <h3 class="mb-4 mt-3">Create New Solution</h3>
                            <div class="mb-4">
                                <label for="title" class="form-label">Problem Title</label>
                                <input type="text" id="title" name="title" class="form-control" />
                            </div>

                            <div class="mb-4">
                                <label for="description" class="form-label">Problem Description</label>
                                <textarea class="form-control" name="description" id="description" rows="4"></textarea>
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="container-fluid d-flex justify-content-around px-3">
                                <button type="submit" class="btn btn-success w-100">Create New Solution</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
}



